@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
// font-family: 'Hina Mincho', serif;





@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
// font-family: 'EB Garamond', serif;




@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
// font-family: 'Bellefair', serif;




@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
// font-family: 'Oswald', sans-serif;





@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
// font-family: 'Oswald', sans-serif;